.footer{
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  color: white;
}
.footer p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .link{
  display: inline-block;
  margin: 1rem;
}