.header{
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  box-shadow: 2px 0px 5px grey;
}

.header .dropdown{
  position: relative;
  display: inline-block;
  z-index: 10;
}

.header .dropdown:hover .dropdown_menu{
  display: block;
}

.header .dropdown_hover{
  display: inline-block;
  padding: 10px;
  background-color: aqua;
  color:rgb(0, 0, 0);
  cursor: pointer;
  border: none;
}

.header .dropdown_hover:hover{
  background-color: bisque;
}

.header .dropdown_menu{
  position: absolute;
  display: none;
  top : 100%;
  left: 0;
  min-width: 200px;
  background: white;
  color: black;
  box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.header .dropdown_menu a{
  text-decoration: none;
  color: black;
  padding: 10px;
  border-top: solid 1px #e0e0e0;
  display: block;
}

.header .dropdown_menu a:hover{
  text-decoration: none;
  color: gray;
  background-color: bisque;
}

.header img{
  width: 200px;
  object-fit: scale-down;
}